.container {
  width: 420px;
  max-width: 100%;
  display: flex;
  background-color: #2b3341;
  justify-content: flex-start;
  padding: 0.6rem 1.5rem 0.7rem 1rem;
  border-radius: 6px;
  align-items: center;
  gap: 0.6rem;
}

.icon {
  font-size: 1.1rem;
  color: #575c6b;
}

.searchInput {
  width: 100%;
  height: fit-content;
  background: transparent;
  line-height: 1.25;
  color: #fafafa;
  font-size: 1rem;
  outline: none;
  border: none;
}

.searchInput::placeholder {
  line-height: 1.25;
  color: #757e8a;
}
