.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 50px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 20px 0 10px;
  border-bottom: 1px solid var(--border-dark-color);
  transition: background-color 0.15s ease;
  gap: 12px;
}

.item:hover {
  background-color: var(--border-dark-color);
}

.item:first-child {
  border-radius: 6px 6px 0 0;
}

.item:last-child {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}

.albumCover {
  width: 52px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
}

.titleSong {
  color: var(--text-color);
  font-weight: 400;
  font-size: 15px;
}

.subInfo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  gap: 6px;
}

.artistSong {
  order: 1;
}

.albumSong {
  order: 3;
}

.subInfo::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--text-color);
  border-radius: 50%;
  order: 2;
}

.options {
  display: flex;
  margin-left: auto;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 4px 8px 6px 8px;
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  color: var(--text-color);
  font-size: 12px;
  opacity: 0.2;
}

.button:hover {
  background-color: var(--brand-light-color);
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  opacity: 1;
}