.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 34px 1fr;
  padding: 16px;
  max-height: 100%;
}

.wrapperTabs {
  display: flex;
  justify-content: center;
  margin-right: 22px;
}

.wrapperTabs::after {
  content: '';
  width: 100%;
  border-bottom: 2px solid var(--border-dark-color);
}

.wrapperTabs>button {
  padding: 10px 30px;
  border-radius: 6px 6px 0px 0px;
  color: var(--text-light-color);
  line-height: 0.8;
  font-size: 15px;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out;
}

.wrapperTabs>button:hover {
  background-color: var(--border-dark-color);
}

.wrapperTabs>button.active {
  opacity: 1;
  border-bottom: 2px solid var(--text-light-color);
  background-color: var(--hover-brand-color);
}

.wrapperTabs>button.disable {
  color: rgb(107, 107, 107);
  border-bottom: 2px solid var(--border-dark-color);
}