.container {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 16px;
  background-color: #242627;
  border-radius: 8px;
  overflow: hidden;
}

.container:focus-within {
  background-color: #060707;
}

.input {
  width: 100%;
  font-weight: 600;
  font-size: 15.5px;
  color: #BEBEBE;
  background: transparent;
}

.input::-webkit-input-placeholder {
  font-weight: 500;
  color: #47494A;
}

.btnSearch {
  height: 100%;
  padding: 0 12px;
  display: grid;
  place-items: center;
  color: #47494A;
  transition: background-color 0.15s ease-in-out;
}

.btnSearch:hover {
  background-color: #292b2c;
}