.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #BEBEBE;
  background-color: #242627;
  padding: 6px 8px 6px 12px;
  border-radius: 4px;
}

.counterElements {
  display: inline-block;
  font-size: 10.05px;
  font-weight: 400;
}

.btnFolder {
  display: grid;
  place-items: center;
  color: inherit;
  font-size: 17px;
}

.table {
  border-collapse: collapse;
  margin-top: 12px;
}

.table th {
  color: #535556;
  font-size: 10.05px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
}

.table tr:hover td {
  color: #BEBEBE;
}

.table thead {
  height: 32px;
  border-bottom: 1px solid #242627;
}

.table td {
  height: 28px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #4B4B4B;
}

.table .name {
  min-width: 360px;
}

.table .size {
  min-width: 60px;
}

.table .progress {
  min-width: 130px;
}

.table .progress div {
  min-width: 130px;
  min-height: 5px;
  background-color: #242627;
  border-radius: 6px;
}

.table .progress span {
  display: block;
  height: 5px;
  border-radius: 6px;
}

.table .status {
  min-width: 100px;
}

.table .date {
  min-width: 120px;
}