.spinner {
  border: 6px solid #242627;
  border-radius: 50%;
  border-left-color: #8CB0FC;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}