.container {
  display: flex;
  flex-direction: column;
  grid-area: view;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--hover-brand-color);
  border-radius: 2px;
  border: none;
}

.container::-webkit-scrollbar-track {
  border: none;
  border-radius: 2px;
  background: var(--border-dark-color);
}