.container {
  display: flex;
  flex-direction: column;
  grid-area: view;
  padding: 0px 16px 0px 24px;
  margin: 0px 0px 20px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background: #4A4F51;
  border-radius: 2px;
  border: none;
}

.container::-webkit-scrollbar-track {
  border: none;
  border-radius: 2px;
  background: transparent;
}