.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: none;
}

.flat {
  width: 30px;
  aspect-ratio: 1;
  padding: 0px;
  border-radius: 4px;
  font-size: 19px;
  color: var(--text-color);
  transition: background-color 0.3s ease-out 0s;
}

.flat:hover {
  background-color: var(--hover-brand-color);
}