.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item {
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
  border-bottom: 1px solid #242627;
  gap: 20px;
}

.item:last-child {
  border: none;
}

.info {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.index {
  display: grid;
  place-items: center;
  width: 16px;
  aspect-ratio: 1;
  color: #4B4B4B;
  font-size: 12px;
}

.albumCover {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #242627;
  border-radius: 6px;
  overflow: hidden;
}

.albumCover>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  color: #BEBEBE;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.albumCover>img {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in;
}

.titleAndArtist {
  width: 269px;
  display: flex;
  flex-direction: column;
  color: #4B4B4B;
  gap: 2px;
}

.titleAndArtist>h4 {
  font-weight: 700;
  font-size: 12.5px;
}

.titleAndArtist>p {
  font-size: 300;
  font-size: 11.5px;
}

.album {
  width: 245px;
  color: #4B4B4B;
  font-size: 12px;
}

.time {
  width: 140px;
  color: #4B4B4B;
  font-size: 12px;
}

.titleAndArtist>h4,
.titleAndArtist>p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleAndArtist,
.album,
.time,
.index {
  transition: color 0.15s ease-in-out;
  cursor: default;
}

.item:hover .titleAndArtist,
.item:hover .album,
.item:hover .time,
.item:hover .index {
  color: #BEBEBE;
}

.item:hover .albumCover>img {
  opacity: 0;
}

.item:hover .albumCover>svg {
  opacity: 1;
}

.btnDownload {
  display: grid;
  place-items: center;
  padding: 6px;
  color: #4B4B4B;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  font-size: 18px;
  border-radius: 6px;
}

.btnDownload:hover {
  color: #BEBEBE;
  background-color: #242627;
}