.container {
  grid-area: statusbar;
  background-color: #0F1010;
  display: flex;
  align-items: center;
  padding: 0px 4px 2px 4px;
}

.container>p {
  font-size: 10px;
  font-weight: 300;
  color: #7C7E7E;
}