@font-face {
  font-family: "Inter";
  src: url("./assets/inter-vf.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

:root {
  --brand-light-color: #828fff;
  --text-color: #131313;
  --text-light-color: rgb(180, 180, 180);
  --text-dark-color: #121212;
  --bg-color: #e4e4e4;
  --bg-second-color: #121212;
  --border-dark-color: rgba(255, 255, 255, 0.04);
  --border-brand-color: rgba(255, 255, 255, 0.08);
  --hover-brand-color: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "toolbar""view""footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 20px;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.drag {
  -webkit-app-region: drag;
  -webkit-app-region: no-drag;
}