@font-face {
  font-family: "Inter";
  src: url("./assets/inter-vf.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

:root {
  --brand-light-color: #4E9F3D;
  --text-light-color: rgb(180, 180, 180);
  --text-dark-color: #121212;
  --brand-color: #2ed770;
  --bg-color: #131313;
  --bg-second-color: #0e0f0e;
  --text-color: #ffffff;
  --text-second-color: #868485;
  --fill-color: #343434;
  --line-color: #242424;
  --border-dark-color: rgba(255, 255, 255, 0.04);
  --border-brand-color: rgba(255, 255, 255, 0.08);
  --hover-brand-color: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 40px 1fr 20px;
  grid-template-areas: "toolbar toolbar""sidebar view""sidebar footer";
  overflow: hidden;
  background-color: #1F2021;
  border-radius: 6px;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.drag {
  -webkit-app-region: drag;
  -webkit-app-region: no-drag;
}